/*
	(composante) */

.btn-submit {
    background-color: var(--light-red);
    padding: 0.5em;
    color: var(--white);
    font-size: 1rem;
    border-radius: 5px;
    min-width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}

/* button avec fleche */
.btn-arrow {
    display: flex;
    justify-content: space-between;
    font-style: italic;
    gap: 0.5rem;
    min-width: 100%;
    padding: var(--space-s) var(--space) var(--space-s) var(--space);
    padding-right: 1rem;
    /* Ajout de la transition pour padding-right */
    transition: gap 0.3s ease-in-out, padding-right 0.3s ease-in-out;
}
.btn-arrow:hover {
    padding-right: .5rem;
}

.btn-action {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    min-width: 100%;
    padding: calc(var(--space-s) - 2px) calc(var(--space) - 2px) calc(var(--space-s) - 2px) calc(var(--space) - 2px);
    border: 2px solid transparent;
    /* Ajout de transitions pour border-color, background-color et color */
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.btn-action:hover {
    border-color: black; /* Changement de border à border-color */
    background-color: white;
    color: black;
}


/* button defaut rectangle */
.btn-round {
    display: flex;
    align-items: center;
    justify-items: center;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    background-color: black;
    color: white;
    /* padding: var(--space-s); */
    /* border: 0.5px solid var(--couleur-accent); */
    border-radius: 25px;
    /* color: var(--couleur-accent); */
    box-shadow: none;
}

/* à effacer */
/* .btn-container {
    margin: 0 var(--space-s) var(--space-s) var(--space-s);
} */

.btn-prev {
    left: 0;
}

.btn-next {
    right: 0;
}
