/* typography.css -------------
	(contient seulement les règles de base) */

@font-face {
    font-family: 'Helvetica';
    src: url('../../assets/fonts/helvetica_light.ttf');
    font-weight: lighter;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../../assets/fonts/helvetica.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Dreamboat';
    src: url('../../assets/fonts/dreamboat.ttf');
}

@font-face {
    font-family: 'Dreamboat';
    src: url('../../assets/fonts/dreamboat-black.ttf');
    font-style: normal;
    font-weight: 900;
}

body {
	font-family: "Helvetica", Helvetica, Arial, Verdana, sans-serif;
	line-height: 1.5;
}

main,
.container {
    text-align: center;
    /* font-family: 'Helvetica', Helvetica; */
    /* font-size: 16px; */
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.1;
}

h1 {
    font-size: 20px;
    font-weight: bold;
}

h2 {
    font-size: 1rem;
    font-weight: bold;
}
h3 {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: normal;
}

/* h1, */
header,
footer span {
    font-family: "dreamboat", sans-serif;
    font-weight: 900;
    color: var(--black);
}

header {
    font-size: 1.5rem;
}